### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
school_data_complete.head()

In [ ]:
#output_filename = "output.csv"
#school_data_complete.to_csv(output_filename, index=False)
#student_data_to_output = Path("Resources/students_complete.csv")

In [ ]:
#pass_math_and_reading = student_data.loc[(student_data["maths_score"] >= 50) & (
   # student_data["reading_score"] >= 50), :].count()
pass_math_and_reading = school_data_complete[(school_data_complete['maths_score'] >= 50) & \
                                             (school_data_complete['reading_score'] >= 50)]
#percentage_passing_reading = (passing_reading.shape[0] / school_data_complete.shape[0]) * 100
percentage_pass_math_and_reading = (pass_math_and_reading.shape[0] / total_students) * 100
percentage_pass_math_and_reading
#pass_math_and_reading

In [ ]:
##This is complete solution

In [2]:
# calculate all the required statistic

# calculate total no of school
total_schools = school_data_complete["school_name"].nunique()  #return the count of unique school names

# calculate total no of students
#total_students = school_data_complete.shape[0]
total_students = school_data_complete['student_name'].count()

# calculate total budget for all schools combined
total_budget=school_data["budget"].sum()

# calculate average math score for all students
average_math = round(student_data["maths_score"].mean(),6)

# calculate average reading score for all students
average_reading = round(student_data["reading_score"].mean(),6)

# calculate percentage passing math with > 50 for all students
passing_math = school_data_complete[school_data_complete["maths_score"] >= 50]
#percentage_passing_math = (passing_math.shape[0] / school_data_complete.shape[0]) * 100
percentage_passing_math = (passing_math.shape[0] / total_students) * 100

# calculate percentage passing reading with > 50 for all students
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50]
#percentage_passing_reading = (passing_reading.shape[0] / school_data_complete.shape[0]) * 100
percentage_passing_reading = (passing_reading.shape[0] / total_students) * 100


# calculate percentage passing math and reading with > 50 for all students
#pass_math_and_reading = student_data.loc[(student_data["maths_score"] >= 50) & (
#    student_data["reading_score"] >= 50), :].count()
#percentage_pass_math_n_reading = (pass_math_and_reading / total_students) * 100
#percentage_pass_math_n_reading_score=percentage_pass_math_n_reading["reading_score"]
pass_math_and_reading = school_data_complete[(school_data_complete['maths_score'] >= 50) & \
                                             (school_data_complete['reading_score'] >= 50)]
percentage_pass_math_and_reading = (pass_math_and_reading.shape[0] / total_students) * 100


result_df = pd.DataFrame({
    "Total School": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Maths": [percentage_passing_math],
    "% Passing Reading": [percentage_passing_reading],
    "% Overall Passing": [percentage_pass_math_and_reading]
})
result_df["Total Students"] = result_df["Total Students"].map('{:,.0f}'.format)
result_df["Total Budget"] = result_df["Total Budget"].map('${:,.2f}'.format)

result_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [ ]:
## End of Solution

In [ ]:
total_school = school_data_complete["school_name"].nunique()
total_school

In [ ]:
#total_school = school_data_complete["school_name"].nunique()
#total_school = school_data["school_name"].count()
#total_school

In [ ]:
#total_school = school_data_complete["school_name"].value_counts()
#total_school = total_school.sum()
#total_school

In [ ]:
total_students = school_data_complete.shape[0]
total_students

In [ ]:
#total_student = school_data_complete["school_name"].count()
#total_student = student_data["school_name"].count()
#total_student

In [ ]:
#total_student = school_data_complete["school_name"].count()
#total_student

In [ ]:
total_budget=school_data["budget"].sum()
total_budget

In [ ]:
total_budget = school_data_complete.groupby("school_name")["budget"].mean().sum()
#total_budget = total_budget.sum()
total_budget

In [ ]:
#total_budget = school_data_complete.groupby("school_name")["budget"].mean()
#total_budget

In [ ]:
average_math = round(student_data["maths_score"].mean(),6)
average_math

In [ ]:
average_math = round(school_data_complete["maths_score"].mean(),6)
average_math

In [ ]:
average_reading = round(student_data["reading_score"].mean(),6)
average_reading

In [ ]:
passing_math_df = school_data_complete[school_data_complete["maths_score"] >= 50]
percentage_passing_math = (passing_math_df.shape[0] / school_data_complete.shape[0]) * 100
percentage_passing_math

In [ ]:
pass_math = student_data[student_data["maths_score"] >= 50].count()
percentage_pass_math = (pass_math / total_students) * 100
percentage_pass_math_score = percentage_pass_math["maths_score"]
percentage_pass_math_score

In [ ]:
pass_reading = student_data[student_data["reading_score"] >= 50].count()
percentage_pass_reading = (pass_reading / total_students) * 100
percentage_pass_reading_score = percentage_pass_reading["reading_score"]
percentage_pass_reading_score

In [ ]:
pass_math_and_reading = student_data.loc[(student_data["maths_score"] >= 50) & (
    student_data["reading_score"] >= 50), :].count()
#pass_math_and_reading.count()
percentage_pass_math_n_reading = (pass_math_and_reading / total_students) * 100
percentage_pass_math_n_reading_score=percentage_pass_math_n_reading["reading_score"]
percentage_pass_math_n_reading_score

In [ ]:
result_df = pd.DataFrame({
    "Total School": [total_school],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Maths": [percentage_pass_math_score],
    "% Passing Reading": [percentage_pass_reading_score],
    "% Overall Passing": [percentage_pass_math_n_reading_score]
})
#result_df["Total Students"] = result_df["Total Students"].apply(lambda x: '{:.0f}'.format(x))
#result_df["Total Budget"] = result_df["Total Budget"].apply(lambda x: '${:.2f}'.format(x))

result_df["Total Students"] = result_df["Total Students"].map('{:,.0f}'.format)
result_df["Total Budget"] = result_df["Total Budget"].map('${:,.2f}'.format)

result_df

In [ ]:
data = {
    "Total School": [total_school],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Maths": [percentage_pass_math_score],
    "% Passing Reading": [percentage_pass_reading_score],
    "% Overall Passing": [percentage_pass_math_n_reading_score]
}

df = pd.DataFrame(data)
df["Total Students"] = df["Total Students"].map('{:,.0f}'.format)
df["Total Budget"] = df["Total Budget"].map('${:,.2f}'.format)

print(df)

In [ ]:
school_data_complete.head()

In [ ]:
# calculate percentage passing math and reading with > 50 for all students

# Create a new column 'pass_both' indicating whether a student passed both math and reading
school_data_complete['pass_both'] = (school_data_complete['maths_score'] > 50) & (school_data_complete['reading_score'] > 50)

# Group the data by school_name and calculate overall passing percentage
grouped["% Overall Passing"] = school_data_complete.groupby('school_name')['pass_both'].mean() * 100

# Print the result
print(grouped)

In [ ]:
# Create a new column 'pass_both' indicating whether a student passed both math and reading
school_data_complete['pass_both'] = (school_data_complete['maths_score'] > 50) & (school_data_complete['reading_score'] > 50)

# Group the data by school_name and calculate overall passing percentage
grouped["% Overall Passing"] = school_data_complete.groupby('school_name')['pass_both'].mean() * 100

In [ ]:
# rename columns
#school_data_overview = school_data_complete.rename(columns={"type": "School Type"}, inplace=False)
#school_data_overview.head()

In [ ]:
# Calculate the required statistics
grouped = school_data_complete.groupby('school_name').agg({
    'type': 'first',
    'size': 'first',
    'budget': 'first',
    'maths_score2': 'mean',
    'reading_score2': 'mean',
    'Passing Math': 'mean',
    'Passing Reading': 'mean',
    'Overall Passing': 'mean',
#    'Overall Passing2': 'mean',
    'maths_score': lambda x: (x >= 50).sum() / len(x) * 100,
    'reading_score': lambda x: (x >= 50).sum() / len(x) * 100
}).reset_index()

# Calculate additional columns
grouped['Per Student Budget'] = grouped['budget'] / grouped['size']

# Create a new column 'pass_both' indicating whether a student passed both math and reading
school_data_complete['pass_both'] = (school_data_complete['maths_score'] > 50) & (school_data_complete['reading_score'] > 50)

# Group the data by school_name and calculate overall passing percentage
grouped["% Overall Passing"]  = school_data_complete.groupby('school_name')['pass_both'].mean() * 100


# Rename columns
grouped.rename(columns={
    'school_name': 'School Name',
    'type': 'School Type',
    'size': 'Total Students',
    'budget': 'Total School Budget',
    'maths_score': 'Average Maths Score',
    'reading_score': 'Average Reading Score',
    'maths_score': '% Passing Maths',
    'reading_score': '% Passing Reading'
}, inplace=True)

# Print the result
grouped = grouped.loc[:,["School Name", "School Type","Total Students",
                 "Per Student Budget","Average Maths Score",
                 "Average Reading Score","% Passing Maths",
                  "% Passing Reading","% Overall Passing"]]
grouped.set_index('School Name', inplace=True)  # use 'School_Name' as index
grouped.rename_axis(None, inplace=True)   # to hide the index header
grouped

In [ ]:
school_data_complete['pass_both'] = (school_data_complete['maths_score'] > 50) & (school_data_complete['reading_score'] > 50)
school_data_complete

In [ ]:
# Testing...
# Calculate the required statistics
school_data_complete["maths_score2"]=school_data_complete["maths_score"]
school_data_complete["reading_score2"]=school_data_complete["reading_score"]
school_data_complete["Passing Math"]=school_data_complete["maths_score"] >= 50
school_data_complete["Passing Reading"]=school_data_complete["reading_score"] >= 50
school_data_complete['pass_both'] = (school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)


#school_data_complete["Overall Passing2"] = school_data_complete.loc[(student_data["maths_score"] >= 50) & (
 #   student_data["reading_score"] >= 50)]

# Calculate overall passing status where both math and reading are passed
#school_data_complete['Overall Passing'] = school_data_complete['Passing Math'] & school_data_complete['Passing Reading']

grouped = school_data_complete.groupby('school_name').agg({
    'type': 'first',
    'size': 'first',
    'budget': 'first',
    'maths_score2': 'mean',
    'reading_score2': 'mean',
    'Passing Math': 'mean',
    'Passing Reading': 'mean',
    'pass_both': lambda x: x.mean() * 100,    
    'maths_score': lambda x: (x >= 50).sum() / len(x) * 100,
    'reading_score': lambda x: (x >= 50).sum() / len(x) * 100
}).reset_index()

grouped.head()

In [3]:
# Testing...
# Calculate the required statistics
school_data_complete["maths_score2"]=school_data_complete["maths_score"]
school_data_complete["reading_score2"]=school_data_complete["reading_score"]
school_data_complete["Passing Math"]=school_data_complete["maths_score"] >= 50
school_data_complete["Passing Reading"]=school_data_complete["reading_score"] >= 50
school_data_complete['pass_both'] = (school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)


#school_data_complete["Overall Passing2"] = school_data_complete.loc[(student_data["maths_score"] >= 50) & (
 #   student_data["reading_score"] >= 50)]

# Calculate overall passing status where both math and reading are passed
#school_data_complete['Overall Passing'] = school_data_complete['Passing Math'] & school_data_complete['Passing Reading']

grouped = school_data_complete.groupby('school_name').agg({
    'type': 'first',
    'size': 'first',
    'budget': 'first',
    'maths_score2': 'mean',
    'reading_score2': 'mean',
    'Passing Math': 'mean',
    'Passing Reading': 'mean',
    'pass_both': lambda x: x.mean() * 100,      
    'maths_score': lambda x: (x >= 50).sum() / len(x) * 100,
    'reading_score': lambda x: (x >= 50).sum() / len(x) * 100
}).reset_index()

# Calculate additional columns
grouped['Per Student Budget'] = grouped['budget'] / grouped['size']
# Calculate the overall passing percentage

# Group the data by school_name and calculate overall passing percentage
#grouped["pass_both"]  = round(school_data_complete['pass_both'] * 100,6)

# Rename columns
grouped.rename(columns={
    'school_name': 'School Name',
    'type': 'School Type',
    'size': 'Total Students',
    'budget': 'Total School Budget',
    'maths_score2': 'Average Maths Score',
    'reading_score2': 'Average Reading Score',
    'maths_score': '% Passing Maths',
    'reading_score': '% Passing Reading',
    'pass_both': '% Overall Passing'
}, inplace=True)

# Print the result
grouped = grouped.loc[:,["School Name", "School Type","Total Students","Total School Budget",
                 "Per Student Budget","Average Maths Score",
                 "Average Reading Score","% Passing Maths",
                  "% Passing Reading","% Overall Passing"]]
grouped.set_index('School Name', inplace=True)  # use 'School_Name' as index
grouped.rename_axis(None, inplace=True)   # to hide the index header
grouped["Per Student Budget"] = grouped["Per Student Budget"].map("${:,.2f}".format)
grouped["Total School Budget"] = grouped["Total School Budget"].map("${:,.2f}".format)
grouped

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

In [ ]:
# This works but % Overall Passing is wrong...
# Calculate the required statistics
school_data_complete["maths_score2"]=school_data_complete["maths_score"]
school_data_complete["reading_score2"]=school_data_complete["reading_score"]
school_data_complete["Passing Math"]=school_data_complete["maths_score"] > 50
school_data_complete["Passing Reading"]=school_data_complete["reading_score"] > 50

#school_data_complete["Overall Passing2"] = school_data_complete.loc[(student_data["maths_score"] >= 50) & (
 #   student_data["reading_score"] >= 50)]

# Calculate overall passing status where both math and reading are passed
school_data_complete['Overall Passing'] = school_data_complete['Passing Math'] & school_data_complete['Passing Reading']

grouped = school_data_complete.groupby('school_name').agg({
    'type': 'first',
    'size': 'first',
    'budget': 'first',
    'maths_score2': 'mean',
    'reading_score2': 'mean',
    'Passing Math': 'mean',
    'Passing Reading': 'mean',
    'Overall Passing': 'mean',
#    'Overall Passing2': 'mean',
    'maths_score': lambda x: (x >= 50).sum() / len(x) * 100,
    'reading_score': lambda x: (x >= 50).sum() / len(x) * 100
}).reset_index()

# Calculate additional columns
grouped['Per Student Budget'] = grouped['budget'] / grouped['size']
# Calculate the overall passing percentage
#grouped['% Overall Passing'] = grouped[['Passing Math', 'Passing Reading']].mean(axis=1) * 100
grouped['% Overall Passing'] = (grouped['Overall Passing']) / grouped['size']  * 100

# Rename columns
grouped.rename(columns={
    'school_name': 'School Name',
    'type': 'School Type',
    'size': 'Total Students',
    'budget': 'Total School Budget',
    'maths_score2': 'Average Maths Score',
    'reading_score2': 'Average Reading Score',
    'maths_score': '% Passing Maths',
    'reading_score': '% Passing Reading'
}, inplace=True)

# Print the result
grouped = grouped.loc[:,["School Name", "School Type","Total Students",
                 "Per Student Budget","Average Maths Score",
                 "Average Reading Score","% Passing Maths",
                  "% Passing Reading","% Overall Passing"]]
grouped.set_index('School Name', inplace=True)  # use 'School_Name' as index
grouped.rename_axis(None, inplace=True)   # to hide the index header
grouped

In [ ]:
school_data_complete["Overall Passing2"] = school_data_complete.loc[(student_data["maths_score"] >= 50) & (
 #   student_data["reading_score"] >= 50)].count()
school_data_complete

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
school_data_complete.head()

In [ ]:
school_data_complete.dtypes

In [ ]:



math_grouped = school_data_complete.groupby('school_name').agg({
    'year': 'first',
    'size': 'first',
    'budget': 'first',
    'maths_score2': 'mean',
    'reading_score2': 'mean',
    'Passing Math': 'mean',
    'Passing Reading': 'mean',
    'Overall Passing': 'mean',
#    'Overall Passing2': 'mean',
    'maths_score': lambda x: (x >= 50).sum() / len(x) * 100,
    'reading_score': lambda x: (x >= 50).sum() / len(x) * 100
}).reset_index()

In [ ]:
school_data_complete["Math Year 9"] = school_data_complete.loc[school_data_complete['year'] == 9, 'maths_score']
school_data_complete["Math Year 10"] = school_data_complete.loc[school_data_complete['year'] == 10, 'maths_score']
school_data_complete["Math Year 11"] = school_data_complete.loc[school_data_complete['year'] == 11, 'maths_score']
school_data_complete["Math Year 12"] = school_data_complete.loc[school_data_complete['year'] == 12, 'maths_score']

math_grouped_df = school_data_complete.groupby('school_name').agg({
    'Math Year 9': 'mean',
    'Math Year 10': 'mean',
    'Math Year 11': 'mean',
    'Math Year 12': 'mean'
}).reset_index()

# Rename columns
math_grouped_df.rename(columns={
    'school_name': 'School Name',
    'Math Year 9': 'Year 9',
    'Math Year 10': 'Year 10',
    'Math Year 11': 'Year 11',
    'Math Year 12': 'Year 12'    
}, inplace=True)

math_grouped_df.set_index('School Name', inplace=True)  # use 'School_Name' as index
math_grouped_df.rename_axis(None, inplace=True)   # to hide the index header

math_grouped_df

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
school_data_complete["Reading Year 9"] = school_data_complete.loc[school_data_complete['year'] == 9, 'reading_score']
school_data_complete["Reading Year 10"] = school_data_complete.loc[school_data_complete['year'] == 10, 'reading_score']
school_data_complete["Reading Year 11"] = school_data_complete.loc[school_data_complete['year'] == 11, 'reading_score']
school_data_complete["Reading Year 12"] = school_data_complete.loc[school_data_complete['year'] == 12, 'reading_score']

reading_grouped_df = school_data_complete.groupby('school_name').agg({
    'Reading Year 9': 'mean',
    'Reading Year 10': 'mean',
    'Reading Year 11': 'mean',
    'Reading Year 12': 'mean'
}).reset_index()

# Rename columns
reading_grouped_df.rename(columns={
    'school_name': 'School Name',
    'Reading Year 9': 'Year 9',
    'Reading Year 10': 'Year 10',
    'Reading Year 11': 'Year 11',
    'Reading Year 12': 'Year 12'    
}, inplace=True)

reading_grouped_df.set_index('School Name', inplace=True)  # use 'School_Name' as index
reading_grouped_df.rename_axis(None, inplace=True)   # to hide the index header

reading_grouped_df

In [ ]:
grouped.columns

In [ ]:
grouped.head()

In [ ]:
grouped.dtypes

In [ ]:
# Remove the '$' sign and any non-numeric characters from the column
grouped["Per Student Budget"] = grouped["Per Student Budget"].str.replace('$', '', regex=True)

# Convert the column to integer
grouped["Per Student Budget"] = grouped["Per Student Budget"].astype(float)
grouped

In [ ]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
spending_bins = [0, 585, 630, 645, 680]

# Create the names for the five bins
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

grouped["Spending Ranges (Per Student)"] = pd.cut(grouped["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)
#grouped.groupby["Spending Ranges (Per Student)"]
grouped

In [ ]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
spending_bins = [0, 585, 630, 645, 680]

# Create the names for the five bins
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

grouped["Spending Ranges (Per Student)"] = pd.cut(grouped["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)
grouped.groupby("Spending Ranges (Per Student)")
grouped.set_index('Spending Ranges (Per Student)', inplace=True)  # use 'School_Name' as index
grouped

In [ ]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
spending_bins = [0, 585, 630, 645, 680]

# Create the names for the five bins
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(grouped["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)
#school_spending_df.groupby("Spending Ranges (Per Student)")
school_spending_df.set_index('Spending Ranges (Per Student)', inplace=True)  # use 'School_Name' as index
school_spending_df

In [5]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
spending_bins = [0, 585, 630, 645, 680]

# Create the names for the five bins
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(grouped["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)

#spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
#spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
#spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
#spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
#overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
school_spending_df

TypeError: '<' not supported between instances of 'int' and 'str'

## Reading Score by Year

* Perform the same operations as above for reading scores

In [ ]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
spending_bins = [0, 585, 630, 645, 680]

# Create the names for the five bins
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

grouped["Spending Ranges (Per Student)"] = pd.cut(grouped["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)

school_spending_df = grouped

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

spending_summary = pd.DataFrame({
    "Spending Ranges (Per Student)": [labels],
    "Average Maths Score": [spending_math_scores],
    "Average Reading Score": [spending_reading_scores],
    "% Passing Maths": [spending_passing_math],
    "% Passing Reading": [spending_passing_reading],
    "% Overall Passing": [overall_passing_spending]
})
spending_summary.set_index('Spending Ranges (Per Student)', inplace=True)  # use 'School_Name' as index
#spending_summary.rename_axis(None, inplace=True)   # to hide the index header
#spending_summary["Total Students"] = result_df["Total Students"].map('{:,.0f}'.format)
#spending_summary["Total Budget"] = result_df["Total Budget"].map('${:,.2f}'.format)

spending_summary

In [ ]:
	Average Maths Score	Average Reading Score	% Passing Maths	% Passing Reading	% Overall Passing
Spending Ranges (Per Student)					
<$585	71.36	70.72	88.84	86.39	76.72
$585-630	72.07	71.03	91.52	87.29	79.88
$630-645	69.85	69.84	84.69	83.76	71.00
$645-680	68.88	69.05	81.57	81.77	66.76

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type